<div id="principal">
  <div id="inside">
    <header>
      <div class="left">
        <div id="test1L">
          <p>Webcrawler 😒</p>
        </div>
      </div>
      <div class="right">
        <div id="test1R">
          <p> </p>
        </div>
      </div>
    </header>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Geben Sie eine Url ein"
        aria-label="Geben Sie eine Url ein"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
      >
        Click
      </button>
    </div>
  </div>
</div>
